[packages-microsoft-com-mssql-server-{{ mssql_version }}]
name=packages-microsoft-com-mssql-server-{{ mssql_version }}
baseurl=https://packages.microsoft.com/rhel/{{ redhat_version }}/mssql-server-{{ mssql_version }}/
enabled=1
gpgcheck=1
gpgkey=https://packages.microsoft.com/keys/microsoft.asc